.selectCountry {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;

    &:focus {
        border: 1px solid #003e51;
    }

    &__control {
        outline: none;
        min-height: 0 !important;
        width: 100%;
        background: #ffffff;
        border: 1px solid #d9dde3 !important;
        box-shadow: none !important;
        border-radius: 8px !important;
        // padding: 10px 14px;
        font-size: 14px;
        outline: none;
        transition: all 0.3s ease;

        &:focus {
            border: 1px solid #003e51 !important;
            outline: none !important;
        }

        &:hover {
            border: 1px solid #003e51 !important;
            outline: none !important;
        }

        .selectCountry__value-container {
            padding-top: 0 !important;
            padding-bottom: 0 !important;

            .selectCountry__multi-value  {
                background-color: #BCEBE7 !important;
            }

        }
        .selectCountry__input-container {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
        .selectCountry__indicators {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

    }
}
