.table {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 8rem;
    border-collapse: collapse;
    // border-spacing: 0px;
    // position: relative;
    // white-space: no-wrap;

    .body {
        overflow: auto;
        overflow-y: scroll;
        max-height: 60vh;

        .row {
            border-bottom: 1px solid #c0c9d8;
        }
    }

    .heading {
        padding: 12px 2px;
        text-align: left;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    .data {
        text-align: left;
        padding: 24px 2px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #2d4875;

        .name {
            display: flex;
            gap: 0.5rem;
            text-transform: capitalize;

            .theme {
                height: 20px;
                width: 20px;
            }
        }
    }

    .actionWrapper {
        display: flex;
        align-items: center;
        gap: 1rem;

        .code {
            max-width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .copy {
            background: #fcfefe;
            border: 0.5px solid #005e7a;
            box-shadow: 0px 1.49618px 1.49618px rgba(45, 72, 117, 0.08);
            border-radius: 4px;
            padding: 0.5rem;
            cursor: pointer;
        }

        .edit {
            cursor: pointer;
        }

        .delete {
            color: #d92d20;
            cursor: pointer;
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    &Content {
        width: 400px;
        background-color: #fff;
        border-radius: 8px;
    }

    &Body {
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        text-align: center;

        .info {
            max-width: 290px;
            color: #d92d20;
        }

        .btnWrapper {
            display: flex;
            gap: 1rem;

            .btn {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 8px 16px;
                gap: 8px;
                border-radius: 4px;
                outline: none;
                cursor: pointer;
                min-width: 120px;
                min-height: 42px;

                &:disabled {
                    border: 1px solid #000;
                    opacity: 0.2;
                    color: #fff;
                    background: #000;
                    cursor: not-allowed;
                }

                &Secondary {
                    border: 1px solid #007da3;
                    color: #fff;
                    background: #007da3;
                }

                &SecondaryOutline {
                    border: 1px solid #007da3;
                    color: #007da3;
                    background: #ffffff;
                }
            }
        }
    }
}
